* {
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue;
    margin: 40px 0 40px 0;
}

body {
    background-color: rgb(22, 6, 6);
}

.box,
form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding: 0 15 px 0 15px;
}

button {
    width: 150px;
    height: 25px;
}